AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_CLIENT_CERT_PFX_PATH=
AZURE_CLIENT_CERT_PFX_PASSWORD=
CLOUD_ENV=commercial
SP_SITE_HOSTNAME=contoso.sharepoint.com
SP_SITE_PATH=/sites/YourSite
SP_LIBRARY_NAMES=library1,library2,library3
SP_LIBRARY_WATERMARKS=library1=C:\Projects\watermark python\image1.png;library2=C:\Projects\watermark python\imageB.png;library3=C:\Projects\watermark python\imageother.png
STATE_FILE=.watermark_state.json
