AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
SP_SITE_HOSTNAME=contoso.sharepoint.com
SP_SITE_PATH=/sites/YourSite
SP_LIBRARY_NAMES=Documents
WATERMARK_IMAGE_PATH=C:\Projects\watermark python\watermark.png
STATE_FILE=.watermark_state.json
